@media only screen and (max-width: 600px) {
  

}
@media only screen and (max-width: 900px){
	 header nav ul li a{
	font-size: 1em;
	}
	section#logo fieldset legend  {
    	width: 100%;
  }
	section#logo span img{
		width: 70%;
		padding: 0.5rem 1rem;
	}
}